apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-1
data:
  API_URL: "https://api.example.com"
  LOG_LEVEL: "debug"
  DB_HOST: "mysql-service"
  TIMEOUT: "20s"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-2
data:
  app.conf: |
    app_name=my-k8s-app
    max_connections=100
    enable_cache=true

---
apiVersion: v1
kind: Pod
metadata:
  name: configmap-1-pod
spec:
  containers:
    - name: app-container
      image: busybox
      command: [ "sh", "-c", "env; sleep 3600" ]
      env:
        - name: API_URL
          valueFrom:
            configMapKeyRef:
              name: configmap-1
              key: API_URL
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: configmap-1
              key: LOG_LEVEL
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: configmap-1
              key: DB_HOST
        - name: TIMEOUT
          valueFrom:
            configMapKeyRef:
              name: configmap-1
              key: TIMEOUT

    #or envFrom:
     #   - configMapRef:
     #       name: configmap-1

---
apiVersion: v1
kind: Pod
metadata:
  name: configmap-2-pod
spec:
  containers:
    - name: app-container
      image: busybox
      command: [ "sh", "-c", "cat /etc/app/app.conf; sleep 3600" ]
      volumeMounts:
        - name: config-volume
          mountPath: /etc/app
  volumes:
    - name: config-volume
      configMap:
        name: configmap-2
