apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
spec:
  replicas: 4
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: web
      environment: development
  template:
    metadata:
      labels:
        app: web
        environment: development
    spec:
      containers:
      - name: nginx
        image: nginx:1.22
        ports:
        - containerPort: 80